{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": [
        "./client/**",
        "./client/src/**"
      ]
    }]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
