/* utility SASS mixins */

@mixin buttonReset {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  overflow: visible;
  text-decoration: none;
}

@mixin screenreaderOnly {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
