@import 'core';

/* postCSS allows support for CSS custom properties
 * SASS variables are also supported
 */

:root {
  --spacer: rem(20px);
}

.demo {
  background-color: var(--grayLight);
  font-style: italic;
  margin: var(--spacer) 0;
  padding: var(--spacer);
  text-align: center;
}

/* Media Breakpoints:
 * sm, md, lg, xl

@media (--smMax) {
  // mobile device styles here
}

*/

.byline-manager-meta-box {

  label {
    color: #555d66;
    display: block;
  }

  input[type=text] {
    display: block;
    margin: rem(5px) 0 0;
    min-height: 28px;
    width: 100%;
  }

  .byline-list-controls {
    background: #fafafa;
    border-bottom: 1px solid var(--grayLight);
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;

    > div {
      flex: 1;
      margin: 0.5rem;
      min-width: rem(260px);
    }
  }

  .freeformInputGrp {
    display: flex;
    margin: rem(5px) 0;

    input {
      border-right: 0;
      margin: 0;
    }

    button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      box-shadow: none;
      margin: 0;
    }
  }

  .current-user-link {
    font-weight: 700;

    button {
      font-weight: 500;
      margin-left: rem(10px);
    }
  }

  .byline-override-option {
    float: right;
    margin: rem(5px) 0 rem(15px) rem(15px);
  }

  label span {
    display: block;
  }

  .menu {
    background: #fff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  .item {
    cursor: default;
    padding: 2px 6px;
  }

  .item-highlighted {
    background-color: #4095bf;
    color: white;
  }

  .item-disabled {
    color: #aaa;
    cursor: not-allowed;

    em {
      float: right;
      margin-left: rem(10px);
    }
  }

  .item-header {
    background-color: #eeeeee;
    color: #454545;
    font-weight: 700;
  }
}

.byline-list {
  min-height: rem(100px);

  ol,
  ul {
    list-style: none;
    margin-left: 0;
  }

}

.byline-list-item {
  align-items: center;
  background: #fafafa;
  box-shadow: 0 1px 1px rgba(64, 64, 64, 0.1);
  cursor: move;
  display: flex;
  font-size: rem(20px);
  list-style: none;
  padding: rem(5px);

  * {
    vertical-align: middle;
  }

  img {
    height: rem(50px);
    margin-right: rem(10px);
    width: rem(50px);
  }

  button {
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    float: right;
    margin-left: auto;
    transition: background-color 0.2s;

    &:hover {
      background-color: #fdd;
      border-color: #ecc;
      color: #933;
    }
  }
}
