@import './core/index';

/* postCSS allows support for CSS custom properties
 * SASS variables are also supported
 */

:root {
  --spacer: rem(20px);
}

.demo {
  background-color: var(--grayLight);
  font-style: italic;
  margin: var(--spacer) 0;
  padding: var(--spacer);
  text-align: center;
}

/* Media Breakpoints:
 * sm, md, lg, xl

@media (--smMax) {
  // mobile device styles here
}

*/

.menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
  background: #fff;
}

.item {
  padding: 2px 6px;
  cursor: default;
}

.item-highlighted {
  color: white;
  background-color: #4095bf;
}

.item-header {
  background-color: #eeeeee;
  color: #454545;
  font-weight: bold;
}
