@import './core/index';

/* postCSS allows support for CSS custom properties
 * SASS variables are also supported
 */

:root {
  --spacer: rem(20px);
}

.demo {
  background-color: var(--grayLight);
  font-style: italic;
  margin: var(--spacer) 0;
  padding: var(--spacer);
  text-align: center;
}

/* Media Breakpoints:
 * sm, md, lg, xl

@media (--smMax) {
  // mobile device styles here
}

*/

.byline-manager-meta-box {

  input {
    width: rem(400px);
  }

  .menu {
    background: #fff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    max-width: 100%;
    min-width: rem(400px);
    padding: 0;
    position: absolute;
    z-index: 100;
  }

  .item {
    cursor: default;
    padding: 2px 6px;
  }

  .item-highlighted {
    background-color: #4095bf;
    color: white;
  }

  .item-disabled {
    color: #aaa;
    cursor: not-allowed;

    em {
      float: right;
      margin-left: rem(10px);
    }
  }

  .item-header {
    background-color: #eeeeee;
    color: #454545;
    font-weight: 700;
  }
}

.byline-list {
  min-height: rem(100px);

  ol,
  ul {
    list-style: none;
    margin-left: 0;
  }

}

.byline-list-item {
  background: #fafafa;
  box-shadow: 0 1px 1px rgba(64, 64, 64, 0.1);
  cursor: move;
  font-size: rem(20px);
  list-style: none;
  padding: rem(2px);

  * {
    vertical-align: middle;
  }

  img {
    height: rem(50px);
    margin-right: rem(10px);
    width: rem(50px);
  }

  button {
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: rem(5px);
    transition: background-color 0.2s;

    &:hover {
      background-color: #fdd;
      border-color: #ecc;
      color: #933;
    }
  }
}
